hr {
    border-style: dashed;
}

.popular-times {
    border-bottom-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 16px 24px;
    .top-half {
        display: flex;
        align-items: center;
        .days-selector {
            height: fit-content;
        }
    }  
}

h2 {
    font-weight: 500;
    margin-right: 20px;
}